/*==============scroll bar================*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    cursor: default;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(78, 78, 78, 0.15);
    box-shadow: inset 1px 1px 2px 0 rgba(78, 78, 78, 0.3);
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: #fff;
  }
  
  .item {
    padding: 5px 10px !important;
    font-size: 30px !important;
    list-style: none !important;
  }
  
  .item-menu {
    padding: 5px 10px;
    list-style: none;
  }
  
  #suggestions {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background: white;
    width: 200px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
}

.search{
  display: flex;
  
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
.suggestion-item:hover {
    background: #f0f0f0;
}
.suggestion-item:last-child {
    border-bottom: none;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}